juntar las filas de los DataFrames

In [3]:
import pandas as pd 
import numpy as np 

df1 = pd.DataFrame({'A':['1A','2A'], 'B':['1B','2B'], 'C':['1C','2C']}) 

df1

df2 = pd.DataFrame({'A':['3A','4A','5A'], 'B':['3B','4B','5B'], 'C':['3C','4C','5C']}) 

df2

df3 = pd.DataFrame({'A':['6A','7A'], 'B':['6B','7B'], 'C':['6C','7C']}, index=[6, 7]) 

df3

concated_df = pd.concat([df1, df2,df3])
concated_df

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
0  3A  3B  3C
1  4A  4B  4C
2  5A  5B  5C
6  6A  6B  6C
7  7A  7B  7C

Fusión: fusionamos los DataFrames usando la misma lógica que se usa en SQL para unir tablas, por ejemplo combinar dataframes

In [4]:
df1 = pd.DataFrame({'clave': ['K1','K2','K3'], 'A': ['1A','2A','3A'], 'B': ['1B','2B','3B']}, 
                   index = ['papa', 'ganso', 'azul'])

df1

      clave   A   B
papa     K1  1A  1B
ganso    K2  2A  2B
azul     K3  3A  3B

In [5]:
df2 = pd.DataFrame({'C': ['1C','2C','3C'], 'clave': ['K1','K2','K3'], 'D': ['1D','2D','3D'], 
                    'A': ['1A','2A','3A']}, 
                   index = [5, 6, 7])

df2

    C clave   D   A
5  1C    K1  1D  1A
6  2C    K2  2D  2A
7  3C    K3  3D  3A

In [6]:
# Fusionar columnas a partir de una columna común
pd.merge(df1, df2, on=['clave', 'A'])

  clave   A   B   C   D
0    K1  1A  1B  1C  1D
1    K2  2A  2B  2C  2D
2    K3  3A  3B  3C  3D

Entradas y salida
Si tengo mi data frame ¿como lo guardo a un CSV?

In [7]:
# Definimos un dataframe con datos de ejemplos
df = pd.DataFrame(np.random.randn(10, 5), columns=["A", "B", "C", "D", "E"])

df

          A         B         C         D         E
0 -1.192297  0.111776  1.851500 -0.383339  1.884820
1  0.816141 -0.543989 -0.062472  1.520755  0.281772
2 -0.085586 -1.637671 -0.569749 -1.259493  1.108659
3  1.784569  0.438326  1.147787 -2.211926  0.136820
4  0.059754 -0.298261 -0.531216  0.163188 -1.247460
5  0.316967  0.556560 -0.171384 -2.009671  0.777914
6 -0.039860 -1.823267 -1.813122  0.411514 -1.258054
7  1.233110 -0.195355  1.764988 -0.341476  0.651013
8  0.095596  0.647071 -0.115272 -0.009495  1.039769
9 -0.135253 -0.173171  0.306185  0.174802 -0.628197

In [8]:
df.to_csv('datos.csv', index=False) #esto se debe de guardar como archivo de excel al correrlo

In [9]:
# Borramos el df de la memoria
del(df)