In [5]:
import pandas as pd 
import numpy as np 
import time 

index = pd.date_range("7/15/2022", periods=20)
index

DatetimeIndex(['2022-07-15', '2022-07-16', '2022-07-17', '2022-07-18',
               '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-23', '2022-07-24', '2022-07-25', '2022-07-26',
               '2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30',
               '2022-07-31', '2022-08-01', '2022-08-02', '2022-08-03'],
              dtype='datetime64[ns]', freq='D')

Consultas rapidas 

Para rellenar un df con valores aleatorios

In [6]:
df = pd.DataFrame(np.random.randn(20, 4), index=index, columns=["A","B", "C", "D"])
df 
#Primeras filas (cabeza) 
df.head()

                   A         B         C         D
2022-07-15 -0.423522 -0.350284 -0.523646 -0.119190
2022-07-16 -0.126194  0.916709  1.702755  1.603802
2022-07-17 -1.034246  0.365262 -0.872098 -0.540616
2022-07-18  0.670476  0.109408  0.960340 -1.110124
2022-07-19 -0.635943  0.762681  0.202025  1.482327

In [8]:
#Primeras tres filas
df.head(8)

                   A         B         C         D
2022-07-15 -0.423522 -0.350284 -0.523646 -0.119190
2022-07-16 -0.126194  0.916709  1.702755  1.603802
2022-07-17 -1.034246  0.365262 -0.872098 -0.540616
2022-07-18  0.670476  0.109408  0.960340 -1.110124
2022-07-19 -0.635943  0.762681  0.202025  1.482327
2022-07-20  1.213090  1.005048  0.213845 -0.799331
2022-07-21 -1.809432  0.311559 -0.383399 -1.516645
2022-07-22 -0.446585  1.270591  0.356301 -1.167498

In [9]:
#Ultimas filas (cola) 
df.tail()

                   A         B         C         D
2022-07-30  0.765712 -0.099412  0.677501 -2.292894
2022-07-31  0.999772  0.684915 -0.343648 -0.521741
2022-08-01 -0.170988 -0.247176  0.005557 -2.480808
2022-08-02 -1.556926 -0.437050 -2.430677  0.601746
2022-08-03 -0.042103 -1.969670  0.167516 -1.171053

In [10]:
#Ultimas tres filas 
df.tail(3)

                   A         B         C         D
2022-08-01 -0.170988 -0.247176  0.005557 -2.480808
2022-08-02 -1.556926 -0.437050 -2.430677  0.601746
2022-08-03 -0.042103 -1.969670  0.167516 -1.171053

Valores Unicos

In [ ]:
#definimos un DataFrame con informacion de diferentes tipos 
df = pd.DataFrame({
    'enteros': [100, 200,300,400],
    'decimales': [3.14, 2.72, 1.618, 3.14], 
    'cadenas': ['hola', 'adios', ]
})